{% extends "likeme/BaseLayout.html" %}
{% load static %}

<link rel="stylesheet"
href="{% static 'css/style.css' %}" />
{% block title %} Registrar-se {% endblock %}

{% block content %}
    
    <h1>Registrarse</h1>
    <!--<form action="{% url 'login' %}" method="POST">-->

    <form action="" method="POST">
	{% csrf_token %}
	{% for field in form %}
        {{ field.label_tag }} {{ field }}<br>
	{% endfor %}

	<label for="n_tel">Numero de telefon: </label>
	<input id="n_tel" type="text" name="n_tel" value="{{ c_tel }}">
	<input type="submit" value="Registrarse">

    </form>
{% endblock %}


