{% extends "likeme/BaseLayout.html" %}
{% load static %}

<link rel="stylesheet"
href="{% static 'css/style.css' %}" />

{% block content %}
    

    <form action="" method="POST">
	{% csrf_token %}
	{% for field in form %}
		<ul><label>{{ field.label_tag }}<br>
	{{ field }}</label></ul>
	{% endfor %}

		<ul><label for="n_tel">Número de telèfon: </label></ul>
		<ul><input id="n_tel" type"text" name="n_tel" value="{{ c_tel }}"></ul>
		<ul><input type="submit" value="Registrar-me"></ul>

    </form>
{% endblock %}


