body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 10px;
	color: #888;
	text-transform: uppercase;
}
nav {
	background-color: #0b498f;
	color: white;
	text-transform: uppercase;
}

/*LOGED*/
#logoaut{
	transform: translateX(260%);
}
#buscarUsuarinav{
	height: 45px;
	transform: translateX(-62%);
}
#buscarnav{
	transform: translateY(-15%);
}
#colbarrabuscar{
	width: 450px;
}
#barrabuscarnav{
	border-radius: 0 !important;
	border: none !important;
	height: 30px;
	font-size: 14px;
}
#botobusca{
	transform: translateX(-30%);
}

/*NO LOGED*/
#logonoaut{
	transform: translateX(40%);
}
#navlogin{
	height: 45px;
	transform: translateX(11%);
}

#navlogin p{
	font-size: 14px;
	transform: translateY(-135%);
}
#navlogin input{
	border-radius: 0 !important;
	border: none !important;
	transform: translateY(-135%);
	height: 30px;
	font-size: 14px;
}
#btn{
	transform: translateY(-13%) !important;
	border-radius: 100 !important;
}
.nav-link {
color: white !important;
}



div {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
}
