body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 10px;
	color: #888;
	text-transform: uppercase;
}