{% extends "likeme/BaseLayout.html" %}
{% load static %}

<link rel="stylesheet"
      href="{% static 'css/style.css' %}" />

{% block content %}
<h1>You are logged in as: {{ user }}</h1>
<form action ="" method="POST">
    {% csrf_token %}
    <input type="text" name="content_post">
    <input type="submit" name="post_value" value="Post">
</form>

<form action ="" method="POST">
    {% csrf_token %}

    {% for p in posts %}


    <h1>POST:</h1><h8>Posted By: {{ p.0.user_post}}</h8>
    <h2><pre>{{ p.0.content }} </pre></h2>

    <input type="text" name="content_comment-{{p.0.id}}">
    <button class="btn btn-primary" id="post_id" type="submit" name="comment_value" value={{p.0.id}}> Comment</button>

        <h3> Comentaris </h3>
        {% for c in p.1 %} <!-- [(C,[])]-->

            <div id="comment-{{ c.0.id }}" >
                <h8>Comment By: {{ c.0.user_post}}</h8>
                <h6><pre>&#9{{c.0.content }} <button type="button" onclick="showDiv('comments-'+{{ c.0.id }})">Reply</button></pre></h6>
            <pre>
                <h5>Replies</h5>
            </pre>
            </div>

            <div id="comments-{{ c.0.id }}" style="display:none">
                    <h8>
                    <input type="text" name="content_reply-{{c.0.id}}">
                    <button class="btn btn-primary" id="comment_id" type="submit" name="reply_value" value={{c.0.id}}> Reply</button>
                </h8>
            </div>

            {% for r in c.1 %}
                <pre>
                <h8>Reply By: {{ r.user_post}}</h8>
                <h6><pre>&#9{{r.content }}  <button type="button" onclick="showDiv('c{{ c.0.id }}r{{r.id}}')">Reply</button> </pre></h6><!-- <a href="" onclick="">Reply</a> -->
            <div id="c{{ c.0.id }}r{{r.id}}" style="display:none">
                    <h8>
                    <input type="text" name="content_reply-{{c.0.id}}">
                    <button class="btn btn-primary" id="comment_id" type="submit" name="reply_value" value={{c.0.id}}> Reply</button>
                </h8>
            </div>
                </pre>
            {% endfor %}

        {% endfor %}


    {% endfor %}


</form>

<script type="text/javascript">
    function showDiv(comment) {

        console.debug(comment)
        var x = document.getElementById(comment)
        if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
        }

    }
</script>

{% endblock %}
