{% extends "likeme/BaseLayout.html" %}
{% load static %}

<link rel="stylesheet"
href="{% static 'css/style.css' %}" />

{% block content %}
    <h1>You are logged in as: {{ user }}</h1>
    <form action ="" method="POST">
	    {% csrf_token %}
	    <input type="text" name="content_post">
	    <input type="submit" name="val" value="Post">
    </form>

    <form action ="" method="POST">
            {% csrf_token %}
            <input type="text" name="content_comment">
            <input type="submit" name="val" value="Comment">
            {% for p in posts %}
                <input type=checkbox name="post_id" id="post_id" value = "{{p.0.id}}" />
		<h5> {{ p.0.content }} </h5>
		<h3> Comentaris </h3>
		{% for c in p.1 %}
		    <h6> {{c.content }} </h6>
		{% endfor %}
            {% endfor %}
    </form>
{% endblock %}
