<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends "likeme/BaseLayout.html" %}
{% load static %}

<link rel="stylesheet"
href="{% static 'css/style.css' %}" />

{% block content %}

    <h1> Friends: </h1>
    {% if freq_current_friends %}
        {% for f_req in freq_current_friends %}
            {% if f_req.user_receiver.email  != user.email %}
                <div class="row">
                    <form action ="" method="POST">
                        {% csrf_token %}
                        <div class="mt-2 col-md-5">
                             <img align="left" src="{{user.photo.url}}" style="width:75px;height:75px; padding:5px"/>
                        </div>
                        <h2>
                            <a href="{% url 'mirarPerfil' f_req.user_receiver.email %}" name="mirarPerfil"> &nbsp {{f_req.user_receiver.first_name}} {{f_req.user_receiver.last_name}}</a>
                            <button class="btn btn-primary" type="submit" name="cancel_freq" value={{f_req.id}}> Remove</button>
                        </h2>
                    </form>
                </div>

            {% else %}
                <div class="row">
                    <form action ="" method="POST">
                        {% csrf_token %}
                        <div class="mt-2 col-md-5">
                             <img align="left" src="{{user.photo.url}}" style="width:75px;height:75px; padding:5px"/>
                        </div>
                        <h2>
                            <a href="{% url 'mirarPerfil' f_req.user_sender.email %}" name="mirarPerfil"> &nbsp {{f_req.user_sender.first_name}} {{f_req.user_sender.last_name}}</a>
                            <button class="btn btn-primary" type="submit" name="cancel_freq" value={{f_req.id}}> Remove</button>
                        </h2>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p> Go find some friends! </p>
    {% endif %}

    &nbsp
    <h1> Sent Friend requests: </h1>
    {% if freq_send %}
        {% for f_req in freq_send %}
            <div class="row">
                <form action ="" method="POST">
                    {% csrf_token %}
                    <div class="mt-2 col-md-5">
                         <img align="left" src="{{user.photo.url}}" style="width:75px;height:75px; padding:5px"/>
                    </div>
                    <h2>
                        <a href="{% url 'mirarPerfil' f_req.user_receiver.email %}" name="mirarPerfil"> &nbsp {{f_req.user_receiver.first_name}} {{f_req.user_receiver.last_name}}</a>
                        <button class="btn btn-primary" type="submit" name="cancel_freq" value={{f_req.id}}> Cancel</button>
                    </h2>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p> You have no friend requests sent! </p>
    {% endif %}

    &nbsp
    <h1> Pending Friend Requests: </h1>
    {% if freq_to_accept %}
        {% for f_req in freq_to_accept %}
            <div class="row">
                <form action ="" method="POST">
                    {% csrf_token %}
                    <div class="mt-2 col-md-5">
                         <img align="left" src="{{user.photo.url}}" style="width:75px;height:75px; padding:5px"/>
                    </div>
                    <h2>
                        <a href="{% url 'mirarPerfil' f_req.user_sender.email %}" name="mirarPerfil"> &nbsp {{f_req.user_sender.first_name}} {{f_req.user_sender.last_name}}</a>
                        <button class="btn btn-primary" type="submit" name="accept_freq" value={{f_req.id}}> Accept</button>
                        <button class="btn btn-primary" type="submit" name="cancel_freq" value={{f_req.id}}> Cancel</button>
                    </h2>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p> You have no pending requests! </p>
    {% endif %}


{% endblock %}

</body>
</html>