body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 10px;
	color: #888;
	text-transform: uppercase;
}
nav {
	background-color: #0b498f;
	color: white;
	text-transform: uppercase;
}

/*LOGED*/
#logoaut{
	transform: translateX(260%);
}
#buscarUsuarinav{
	height: 45px;
	transform: translateX(-54%);
}
#buscarnav{
	transform: translateY(-15%);
}
#colbarrabuscar{
	width: 450px;
}
#barrabuscarnav{
	border-radius: 0 !important;
	border: none !important;
	height: 30px;
	font-size: 14px;
}
#botobusca{
	transform: translateX(-30%);
}

/*NO LOGED*/
#logonoaut{
	transform: translateX(40%);
}
#navlogin{
	height: 45px;
	transform: translateX(11%);
}

#navlogin p{
	font-size: 14px;
	transform: translateY(-135%);
}
#navlogin input{
	border-radius: 0 !important;
	border: none !important;
	transform: translateY(-135%);
	height: 30px;
	font-size: 14px;
}
#btn{
	transform: translateY(-13%) !important;
	border-radius: 100 !important;
}
.nav-link {
color: white !important;
}


div {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
}


/* Body */
#cuerpo {
	background-color: #E0E0FF;
}

/* PERFIL */

#fotoperfil{
	border-radius: 100% !important;
	border-style: solid;
	border-width: 5px;
	border-color: #EEE;
}

.profile img.image-lg{
    z-index: 0;
    width: 100%;
	object-fit: cover;
  	max-height: 400px;
}

.image-profile {
    margin: -110px 10px 0px 50px;
    z-index: 9;
    width: 12%;
}

#userinfo{
    width: 100%;
	background-color : white;
    height: 450px;
}


#nomperfil{
    transform: translateY(-10%);
}

.profile-text>h5{
    margin: -50px 0 20px 0;
    transform: translateY(-16%);
	font-weight: 10px;
	font-size: 38px;
    text-align: left;
	text-transform: uppercase;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#barraperfil{
    transform: translate(24%,-120%);
}
#barraperfil a{
    font-size: 20px;
    color: #0b498f;
}

#informacioperfil {
	margin: 20px 0 0 0;
	background-color: white;
	width: 20%;
	border-radius: 25px;
}

#informacioperfil h2{
	font-size: 20px;
	color: #0b498f;
	transform: translateX(-70%);
}
#informacioperfil p{
	text-align: left;
	transform: translateX(-70%);
}
@media (max-width:768px) {


.image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 12%;
}
}
