body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 10px;
	color: #888;
	text-transform: uppercase;
}
nav {
	background-color: #0b498f;
	color: white;
	text-transform: uppercase;
}

/*LOGED*/
#logoaut{
	transform: translateX(360%);
}
#buscarUsuarinav{
	height: 45px;
	transform: translateX(-75%);
}
#buscarnav{
	transform: translateY(-15%);
}
#colbarrabuscar{
	width: 450px;
}
#barrabuscarnav{
	border-radius: 0 !important;
	border: none !important;
	height: 30px;
	font-size: 14px;
}
#botobusca{
	transform: translateX(-30%);
}

/*NO LOGED*/
#logonoaut{
	transform: translateX(40%);
}
#navlogin{
	height: 45px;
	transform: translateX(11%);
}

#navlogin p{
	font-size: 14px;
	transform: translateY(-135%);
}
#navlogin input{
	border-radius: 0 !important;
	border: none !important;
	transform: translateY(-135%);
	height: 30px;
	font-size: 14px;
}
#btn{
	transform: translateY(-13%) !important;
	border-radius: 100 !important;
}
.nav-link {
color: white !important;
}


div {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
}


/* Body */
#cuerpo {
	background-color: #E0E0FF;
}

/* PERFIL */

	#fotoperfil{
		border-radius: 100% !important;
		border-style: solid;
		border-width: 5px;
		border-color: #EEE;
	}

	.profile img.image-lg{
		z-index: 0;
		width: 100%;
		object-fit: cover;
		max-height: 400px;
	}

	.image-profile {
		margin: -110px 10px 0px 50px;
		z-index: 9;
		width: 12%;
	}

	#userinfo{
		width: 100%;
		background-color : white;
		height: 450px;
	}


	#nomperfil{
		transform: translateY(-10%);
	}

	.profile-text>h5{
		margin: -50px 0 20px 0;
		transform: translateY(-16%);
		font-weight: 10px;
		font-size: 38px;
		text-align: left;
		text-transform: uppercase;
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}

	#barraperfil{
		transform: translateY(-120%);

	}
	#barraperfil .col-md-2{
		transform: translateX(150%);
	}
	#barraperfil a{
		font-size: 20px;
		color: #0b498f;
	}

	#informacioperfil{
		margin: 20px 0 0;
	}
    #informacioperfil h4{
		color: #0b498f;
	}
	#informacioperfil .profile-text{
		background-color: white;
		border-radius: 25px;
		width: 130%;
		transform: translateX(-29%);
		margin-bottom: 40px;
	}

	#informacioperfil h2{
		text-align: center;
		transform: translateX(-10%);
		color: #0b498f;
		font-size: 30px;
		margin: 0 0 40px 0;
	}
	#informacioperfil p{
		text-align: left;
		transform: translateX(-0%);
	}

	#perfilpost{
		background-color: white;
		border-radius: 25px;
		margin-bottom: 40px;
	}
	#perfilpostfoto{
		height: 60px;
		width: 60px;
		border-radius: 100px;
		margin: 0 0 -47px -100px;
	}
	#perfilpostfoto .img-responsive{
		height: 60px;
		width: 60px;
		border-radius: 100px;
	}
	#perfilposttext{
		border-radius: 0 !important;
		border: none !important;
		margin: 0 50px 0 20px;
	}
	#perfilpostbutton{
		width: 90%;
		background-color: #EEE;
		border: 1px;
		border-style: solid;
		border-color: #CCC;
	}

	#perfilcol3{
		margin: 20px 0 0 0;
		width: 23%;
	}
	#perfilcol3 .profile-text{
		border-radius: 25px;
		background-color: white;
		width: 130%;
		min-height: 100px;
	}
	#perfilcol3 h2{
		color: #0b498f;
		font-size: 30px;
		text-align: center;
		transform: translateX(-10%);
	}
	#perfilfeed {
		margin: 20px 0 0 0;
		width: 50%;
	}
	#perfilfeed .post-bar{
		background-color: white;
		border-radius: 25px;
		margin: 0 0 40px 0;
	}
	#perfilfeed .container{
		background-color: #EEE;
		border-style: solid;
		border-width: 1px;
		border-color: #DDD;
	}
	#perfilcommentnom h5{
		font-size: 12px;
		color: gray;
		margin: -5px 0 0 0;
	}
	#perfilimgcomment .img-responsive{
		height: 60px;
		width: 60px;
		border-radius: 100px;

	}
	#perfilimgcomment .about-img{
		height: 60px;
		width: 60px;
		margin: -50px 0 0 -20px;
	}
	#perfilcommentrow1 {
		height: 60px;
		margin: -20px -50px 40px -115px;
	}
	#perfilcommentrow1 input{
		margin: 30px 0 0 220px;
	}
	#perfilcommentnom {
		margin: 0 0 0 -50px;
	}
	#perfilcommentcomment h3{
		font-size: 15px;
	}
	#perfilcommentcomment h3::after{
		content: '';
		background: #DDD;
		display: block;
		height: 1px;
		width: 482px;
		transform: translateX(-3%);
		margin: 5px auto;
	}

/* END PERFIL */
@media (max-width:768px) {


.image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 12%;
}
}
